# Reduce Build Context size by ignoring unnecessary files and directories
node_modules
**/node_modules
.npm
.yarn
.pnp.*

# Build outputs and cache
.next
**/.next
out
**/out
dist
**/dist
build
**/build
.turbo
**/.turbo
.vercel
**/.vercel

# Git and Log files
.git
.gitignore
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# Other non-build files
README.md
docker-compose*.yml
.dockerignore
